<section id="awardee">
    <h2>受賞歴</h2>
    <li>
        2024年11月<strong>発表賞受賞</strong><br />2024年度社会知能系合同中間発表会<br />
    </li>
    <li>
        2024年5月<strong>2024年度名古屋工業大学基金国際学会発表支援</strong>1年に6件(30万円)<br/>
    </li>
    <li>
        2024年3月<strong>名古屋工業大学副学長表彰（学術部門）</strong><br />
    </li>
    <li>
        2023年8月 <strong>Best Student Paper Award</strong><br />
        2nd International Workshop on Democracy and AI (IJCAI-DemocrAI
        2023)
        <a href="https://sites.google.com/kyoto-u.ac.jp/democrai2023/awards" target="_blank" rel="noopener">
            https://sites.google.com/kyoto-u.ac.jp/democrai2023/awards</a>
    </li>

    <li>
        2023年12月 <strong>若手萌芽賞受賞</strong><br />
        人工知能学会 第99回 言語・音声理解と対話処理研究会
        <br />
        <a href="https://ai-gakkai.or.jp/sig-slud/archive/award.html" target="_blank"
            rel="noopener">https://ai-gakkai.or.jp/sig-slud/archive/award.html#:~:text=%E6%A9%8B%E6%9C%AC%20%E6%85%A7%E6%B5%B7%EF%BC%9AGPT%2D4%E3%82%92%E7%94%A8%E3%81%84%E3%81%9F%E5%B0%B1%E6%B4%BB%E7%94%9F%E3%81%AE%E8%87%AA%E5%B7%B1%E5%88%86%E6%9E%90%E6%94%AF%E6%8F%B4%E3%82%B3%E3%83%BC%E3%83%81%E3%83%B3%E3%82%B0%E3%82%A8%E3%83%BC%E3%82%B8%E3%82%A7%E3%83%B3%E3%83%88%E3%81%AE%E9%96%8B%E7%99%BA</a>
    </li>
    <li>
        2023年10月<strong>ベストプラクティス賞受賞</strong><br />第11回
        人工知能学会 市民共創知研究会<br />
        <a href="https://sigcci.github.io/sigcci/conf11/index.html" target="_blank"
            rel="noopener">https://sigcci.github.io/sigcci/conf11/index.html</a>
    </li>
    <li>
        2022年11月<strong>発表賞受賞</strong><br />2022年度社会情報・知能情報研究会<br />
    </li>

</section>
<!-- 研究業績セクション -->
<section id="researchs">
    <div class="journal">
        <h2>論文誌</h2>
        <li>
            <strong>橋本慧海</strong>, 中野幹生, 長澤史記, 白松俊, 櫻井崇貴, 駒崎俊剛. 
            "LLMによる動的スロット生成を用いたキャリア面談対話システム". 
            人工知能学会論文誌, 41(2), 2026 (2025/11/4採録決定).
        </li>
    </div>
    <div class="int-conf">
        <h2>国際会議(査読アリ)</h2>
        <li>
            <strong>E. Hashimoto</strong>"Dialogue System using Large Language
            Model-based Dynamic Slot Generation," 21st Workshop of Young Researchers'
            Roundtable on Spoken Dialogue Systems (YRRSDS 2025), France, Aug 2025
        </li>
        <li>
            <strong>E. Hashimoto</strong>, K. Nagira, T. Mizumoto, S.
            Shiramatsu, Human Capital Visualization using Speech Amount during Meetings,
            The 26th Annual Meeting of the Special Interest Group on Discourse and
            Dialogue (SIGDIAL), France, Aug 2025, 採択率50.8%
        </li>
        <li>
            <strong>E. Hashimoto</strong>, M. Nakano, T. Sakurai, S.
            Shiramatsu, T. Komazaki, S. Tsuchiya, A Career Interview
            Dialogue System using Large Language Model-based Dynamic Slot
            Generation, The 31st International Conference on Computational
            Linguistics (COLING 2025), Abu Dhabi, Jan 2025, 採択率30.1%
        </li>
        <li>
            <strong>E. Hashimoto</strong>, K. Nagira, T. Mizumoto, S.
            Shiramatsu, Discovering Authentic Self: Coaching Agent for
            Job-Hunting Students, Human-Computer Interaction (HCII 2024),
            USA, Jul 2024, 採択率30.6%
        </li>
        <li>
            <strong>E. Hashimoto</strong>, S. Shiramatsu, Toward Democratic
            Laboratory: LLM-based Coaching Agent for Promoting Students’
            Autonomy, International Workshop on Democracy and AI
            (IJCAI-DemocrAI 2023), Macau, Aug 2023,
            <strong>Best Student Paper Award受賞</strong><br />
        </li>
    </div>
    <h2>国内会議</h2>
    <div class="dialogue-system-section">
        <h3>対話システムに関する研究</h3>
        <table class="ta1">
            <thead>
                <tr>
                    <th>発表年月</th>
                    <th>会議・種別</th>
                    <th>タイトル</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025/02</td>
                    <td>名古屋工業大学修士論文</td>
                    <td>LLMによる動的スロット生成を用いたキャリア面談対話システム</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2024/09</td>
                    <td>人工知能学会 第101回 言語・音声理解と対話処理研究会</td>
                    <td>LLMによる仮説形成的スロット生成を用いたキャリア面談対話システム</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2024/02</td>
                    <td>人工知能学会 第100回 言語・音声理解と対話処理研究会</td>
                    <td>看護師のキャリア面談のためのLLMを用いたスロット生成型対話システム</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2023/12</td>
                    <td>人工知能学会 第99回 言語・音声理解と対話処理研究会 （対話システムシンポジウム）</td>
                    <td>GPT-4を用いた就活生の自己分析支援システムの試作 (ポスター)</td>
                    <td><strong>若手萌芽賞受賞</strong></td>
                </tr>
                <tr>
                    <td>2023/09</td>
                    <td>日本教育工学会</td>
                    <td>GPT-4を用いた就活生の自己分析支援システムの試作 (ポスター)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2023/03</td>
                    <td>人工知能学会 第98回 言語・音声理解と対話処理研究会</td>
                    <td>適材適所配置支援システムのための個人の属性タグの収集対話システムの試作</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2023/02</td>
                    <td>名古屋工業大学卒業論文</td>
                    <td>適材適所配置支援システムのための個人の属性タグの収集対話システムの開発</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="other-section">
        <h3>対話システム以外の研究</h3>
        <table class="ta1">
            <thead>
                <tr>
                    <th>発表年月</th>
                    <th>会議・種別</th>
                    <th>タイトル</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025/11</td>
                    <td>人工知能学会 第105回 言語・音声理解と対話処理研究会（対話システムシンポジウム）</td>
                    <td>参加者属性間ターンテイキングを用いた会議分類に向けた検討 (ポスター)</td>
                    <td>ハイラブル株式会社でのインターン成果</td>
                </tr>
                <tr>
                    <td>2025/05</td>
                    <td>2025年度 人工知能学会全国大会（第39回）</td>
                    <td>会議中の発話量に基づく人的資本可視化手法の提案</td>
                    <td>ハイラブル株式会社でのインターン成果</td>
                </tr>
                <tr>
                    <td>2024/06</td>
                    <td>音学シンポジウム 2024（第140回MUS・第152回SLP合同研究発表会）</td>
                    <td>聴衆反応の類型化 : ビブリオバトルにおける聴衆の反応と投票行動には個人性があるか? (ポスター)</td>
                    <td>ハイラブル株式会社でのインターン成果</td>
                </tr>
                <tr>
                    <td>2023/10</td>
                    <td>人工知能学会 市民共創知研究会</td>
                    <td>不完全な指示に対する対話型情報補完システムの検討</td>
                    <td><strong>ベストプラクティス賞受賞</strong></td>
                </tr>
                <tr>
                    <td>2022/08</td>
                    <td>人工知能学会 セマンティックウェブとオントロジー研究会</td>
                    <td>個人の属性タグのオントロジーを用いた適材適所配置支援システムの設計</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="coauther-section">
        <h3>共著者としての研究</h3>
        <table class="ta1">
            <thead>
                <tr>
                    <th>発表年月</th>
                    <th>会議名</th>
                    <th>タイトル</th>
                    <th>著者順 / 貢献</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025/07</td>
                    <td>18th IAI International Congress on Advanced Applied Informatics (IIAI AAI 2025)</td>
                    <td>Dynamic Prompt-Controlled Training System Using Large Language Models for Facilitating In-Depth
                        Customer Interview Questions</td>
                    <td>第4著者・研究アドバイスおよび執筆サポート</td>
                </tr>
                <tr>
                    <td>2025/07</td>
                    <td>18th IIAI International Congress on Advanced Applied Informatics(IIAI AAI 2025)</td>
                    <td>LLM-Based Stepwise Dialogue and Phase-Appropriate Information Recommendation for Goal
                        Achievement</td>
                    <td>第3著者・研究アドバイスおよび執筆サポート</td>
                </tr>
                <tr>
                    <td>2025/05</td>
                    <td>The 15th International Workshop on Spoken Dialogue Systems Technology (IWSDS2025)</td>
                    <td>A Dialogue System for Semi-Structured Interviews by LLMs and its Evaluation on Persona
                        Information Collection</td>
                    <td>第4著者・データ提供</td>
                </tr>
                <tr>
                    <td>2025/05</td>
                    <td>2025年度人工知能学会全国大会(第39回)</td>
                    <td>非暴力コミュニケーションにより感情的対立を緩和する共感型LLM対話システム</td>
                    <td>第2著者・研究アドバイスおよび執筆サポート</td>
                </tr>
                <tr>
                    <td>2025/05</td>
                    <td>2025年度人工知能学会全国大会(第39回)</td>
                    <td>状態遷移モデルおよび大規模言語モデルを用いた半構造化インタビューのモデル化の評価</td>
                    <td>第4著者・データ提供および基盤システム提供</td>
                </tr>
                <tr>
                    <td>2025/03</td>
                    <td>電子情報通信学会 第8回合意と共創研究会</td>
                    <td>困り事を言語化できない子ども向けの傾聴対話システムの提案</td>
                    <td>第3著者・執筆サポートおよび基盤システム提供</td>
                </tr>
                <tr>
                    <td>2025/03</td>
                    <td>言語処理学会第31回年次大会 (NLP2025)</td>
                    <td>状態遷移モデルおよび大規模言語モデルを用いた半構造化インタビューのモデル化</td>
                    <td>第4著者・データ提供および基盤システム提供</td>
                </tr>
                <tr>
                    <td>2024/11</td>
                    <td>情報処理学会コラボレーションとネットワークサービスワークショップ2024</td>
                    <td>Web議論におけるLLMの情報推薦タイミングに重要な要素の検討</td>
                    <td>第2著者・研究アドバイスおよび執筆サポート</td>
                </tr>
                <tr>
                    <td>2024/03</td>
                    <td>人工知能学会 第12回市民共創知研究会</td>
                    <td>コミュニティの成長過程分析のためのLLMを用いたSlack履歴分析手法の検討</td>
                    <td>第3著者・研究アドバイスおよび執筆サポート</td>
                </tr>
                <tr>
                    <td>2022/11</td>
                    <td>人工知能学会 市民共創知研究会 第10回研究会</td>
                    <td>発言の効力感向上により議論参加を促進する対話エージェントの設計</td>
                    <td>第4著者・開発サポート</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>